* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --accent-clr: #FBB699;
    --text-clr: #2D4A5A;
    --main-padding: 50px;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 720px) {
    body {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        min-height: 100%;
        min-width: 100%;
    }
    .form {
        flex-direction: column;
    }
    .login-art {
        width: 100vw;
        min-width: 100%;
    }
    .login-section {
        height: 100vh;
        width: 100vw;
        min-height: 100%;
        min-width: 100%;
    }
}

.login-art {
    display: flex;
    align-items: center;
    background-image: url(img/mountain-bg.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 40%;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0px 50px 0px;
    width: 100%;
}

.logo img {
    width: min(80%, 400px);
}

.login-section {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    height: 100vh;
    width: 60%;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--main-padding);
}

.info-title {
    color: var(--accent-clr);
    font-size: 2rem;
    margin-bottom: 1em;
}

.info-para {
    color: var(--text-clr);
    line-height: 1.5em;
    padding-top: 1.5em;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 0px 10px 50px;
}

.login-title {
    color: var(--text-clr);
}

.submit-wrap {
    color: var(--text-clr);
    padding: var(--main-padding);
}

.submit-button {
    display: inline-block;
    background-color: var(--accent-clr);
    color: var(--text-clr);
    font-weight: bold;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 10px 30px 10px 30px;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: var(--text-clr);
    color: var(--accent-clr);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.account-link {
    color: var(--accent-clr);
    font-weight: bold;
    margin-left: 10px;
}

.form {
    display: flex;
    gap: 25px;
}

.label {
    display: block;
    font-size: 0.8rem;
    color: var(--text-clr);
}

.label[for="first-name"]:after,
.label[for="email"]:after,
.label[for="password"]:after,
.label[for="confirm-password"]:after {
    content:"*";
    color: red;
}

.label[for="last-name"]:after,
.label[for="phone"]:after {
    content:" (optional)";
    color: green;
    font-size: 0.7rem;
    opacity: 0.5;
}

.input {
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #cccccc;
    height: 1.5rem;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid var(--text-clr);
}

.input::placeholder {
    color: #cccccc;
}

.input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(0, 255, 0, 0.1);
}

.input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(255, 0, 0, 0.1);
}

.password-info {
    color: var(--accent-clr);
    font-size: 0.8rem;
}